.nav{
    font-size: 25px;
    padding: 80px;
    background-color:black;
}
body{
    background-color:#EF6024;
}
#foto{
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 60px;
  border-radius: 45%;
}

.d-block{
  margin: 350px;
}
.titulo{
  font-size: large;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.rodape{
  background-image: url(../img/img6.jpg);
  margin: 50px;
  padding: 50px;
  
  
  
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.conteudo{
  color: white;
}