.nav{
    font-size: 25px;
    padding: 80px;
    background-color:black;
}
body{
    background-color:dodgerblue;
}
#foto{
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 60px;
  border-radius: 45%;
}

.d-block{
  margin: 350px;
}
.titulo{
  font-size: large;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.rodepe{
  background-image: unset;
}